@use '@angular/material' as mat;
@use 'sass:color';
@use 'styles/variables' as *;

@include mat.core();

// Definir paletas personalizadas
$app-primary: mat.m2-define-palette((
  50: $pastel-blue-light,
  100: color.adjust($pastel-blue, $lightness: 10%),
  200: color.adjust($pastel-blue, $lightness: 5%),
  300: $pastel-blue,
  400: color.adjust($pastel-blue, $lightness: -5%),
  500: $pastel-blue-dark,
  600: color.adjust($pastel-blue-dark, $lightness: -5%),
  700: color.adjust($pastel-blue-dark, $lightness: -10%),
  800: color.adjust($pastel-blue-dark, $lightness: -15%),
  900: color.adjust($pastel-blue-dark, $lightness: -20%),
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  )
));

$app-accent: mat.m2-define-palette((
  50: $pastel-purple-light,
  100: color.adjust($pastel-purple, $lightness: 10%),
  200: color.adjust($pastel-purple, $lightness: 5%),
  300: $pastel-purple,
  400: color.adjust($pastel-purple, $lightness: -5%),
  500: $pastel-purple-dark,
  600: color.adjust($pastel-purple-dark, $lightness: -5%),
  700: color.adjust($pastel-purple-dark, $lightness: -10%),
  800: color.adjust($pastel-purple-dark, $lightness: -15%),
  900: color.adjust($pastel-purple-dark, $lightness: -20%),
  contrast: (
    50: $black,
    100: $black,
    200: $black,
    300: $black,
    400: $black,
    500: $white,
    600: $white,
    700: $white,
    800: $white,
    900: $white,
  )
));

$app-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Crear tema
$app-theme: mat.m2-define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: mat.m2-define-typography-config(
    $font-family: $font-family,
  ),
  density: 0,
));

@include mat.all-component-themes($app-theme);