@use "styles/variables" as v;
@use "styles/mixins" as m;

.spinner-container {
  @include m.flex-center;
  @include m.flex-column;
  gap: v.$spacing-md;
  padding: v.$spacing-xxl;
  min-height: 300px;
}

.loading-text {
  color: v.$gray-dark;
  font-size: v.$font-size-md;
}
